header{
  border:solid #b2e6cc;
}
header .entete{
  display:inline-block;
  padding:10px;
  margin :10px;
  width:20%;
  text-align:center;

}

#recherche :nth-child(2){
  width:20px;
}
#titre{
  color:#256c50;
  padding-left:50px;
  padding-right:50px;
}
#titre h1{
  font-family:"Courier New";
  font-size: 3.5em;
  margin:0px;
}
div.corp{
  vertical-align: top;
  display:inline-block;
  padding:5px;
  margin-top:20px;
  width :40%;
}
section>form>textarea{
  width:70%;
}
section>form>input{
  color:#256c50;
}

#cote{
  border:solid #256c50;
  padding-bottom:55%;
  width :20%;
}

#photo>img{
  width:70%;
}
section{
  border:solid #b2e6cc;
  margin:10px;
  padding:30px;
  width :140%;
}
section>text{
  font-family:"Courier New";
}
#messages{
  padding-bottom:100%;
}
