#div_connexion h1{
  text-align:center; 
  color: #369765; 
  margin-bottom:30px;
}
#div_connexion{
  position:relative;
  width: 20%; 
  margin-left: 40%;
  margin-right: 40%;
  min-width:400px;
}

#div_connexion form {
  border: solid #b2e6cc;
  padding: 15px;
  position:relative;
}
#div_connexion .ids{
  margin-top:20px;
  margin-left:20px;
  position:relative;
}

#div_connexion .ids>input{
  left:40%;
  width:60%;
  position:absolute;
}
#div_connexion .boutons{
  display: inline-block;
  margin:20px;
  margin-left : 50px;
  
}

#div_connexion .links{
  display: inline-block;
  margin-top: 20px;
  cursor:pointer;
  text-decoration:underline;
  color:#256c50;
}

#msg_err_connexion{
  color:red;
  font-weight: bold;
}
