header{
  border:solid #b2e6cc;
}
header .entete{
  display:inline-block;
  padding:10px;
  margin :10px;
  width:20%;
  text-align:center;

}
.liens{
  cursor:pointer;
  text-decoration:underline;
  color:#256c50;
}

#recherche :nth-child(2){
  width:20px;
}

#titre{
  color:#256c50;
  padding-left:50px;
  padding-right:50px;
}
#titre h1{
  font-family:"Courier New";
  font-size: 3.5em;
  margin:0px;
}