
body {
    background-color: #ffffff;
    background-image: none;
}
#image_moins {
    width: 20px;
    cursor: pointer;
}
#image_plus {
    cursor: pointer;
    width: 20px;
}
div.corp {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    vertical-align: top;
    width: 40%;
}
section > form > textarea {
    width: 70%;
}
section > form > input {
    color: #256c50;
}
.comments > div {
    border: medium solid #b2e6cc;
    margin: 3%;
    padding: 5%;
}
#cote {
    border-width: 1px;
    height: 220px;
    margin-top: 0;
    text-align: center;
    width: 230px;
    border: solid #c4c4c4;
    border-left: none;
    cursor: pointer;
}
#photo > img {
    height: 180px;
    width: 180px;
    background-color: #e3e3e3;
    padding: 2px;
    margin-top: 10px;
    margin-right: 4px;
}
#link1 {
    color: #256c50;
    cursor: pointer;
    text-decoration: underline;
}
section {
    border: medium solid #b2e6cc;
    margin: 10px;
    padding: 30px;
    width: 140%;
}
section > text {
    font-family: "Courier New";
}
.messageUtilisateur {
    border: medium solid #256c50;
    margin: 30px;
    padding: 20px;
}
#nv_message {
    text-align: center;
}
