
body {
    background-color: #f3f3f3;
    background-image: none;
}

#image_moins {
    cursor: pointer;
    width: 20px;
}

#image_plus {
    cursor: pointer;
    width: 20px;
}

div.corp {
    margin-top: 20px;
    padding: 5px;
    vertical-align: top;
    width: 100%;
    display: inline-block;
}

section > form > textarea {
    width: 70%;
}

section > form > input {
    color: #256c50;
}

.comments > div {
    border: medium solid #b2e6cc;
    margin: 3%;
    padding: 5%;
}

#cote {
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-color: #9c9c9c;
    border-style: none solid solid none;
    border-width: 1px;
    cursor: pointer;
    margin-top: 0;
    text-align: center;
    width: 230px;
}

#photo > img {
    background-color: #f3f3f3;
    height: 180px;
    margin-right: 4px;
    margin-top: 10px;
    padding: 1px;
    width: 180px;
}
#link1 {
    color: #256c50;
    cursor: pointer;
    text-decoration: underline;
}
section {
    border: 1px solid #9c9c9c;
    margin: 10px;
    padding: 30px;
    width: 140%;
}
section > text {
    font-family: "Courier New";
}
.messageUtilisateur {
    border: 1px solid #9c9c9c;
    margin: 30px;
    padding: 20px;
}
#messages {
    background-color: #ffffff;
}
#nv_message {
    text-align: center;
}
#milieu {
    width: 40%;
    margin: auto;
    padding-left: 50px;
}
