<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource 
		name="jdbc/db" type="javax.sql.DataSource"
		maxActive="100" maxIdle="30" maxWait="10000"
		url="jdbc:mysql://li328.lip6.fr:33306/phpmyadmin"
		driverClassName="com.mysql.jdbc.Driver"
		username="gr2_bourmaud_biz" password="nz5QcHdRLNHCPpjK"
		auth="Container"
		/>
</Context>