<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>Twister</display-name> 
	<servlet> 
		<servlet-name>CreationUtilisateur</servlet-name> 
		<servlet-class>servlets.utilisateur.ServletCreationUtilisateur</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>ModificationUtilisateur</servlet-name> 
		<servlet-class>servlets.utilisateur.ServletModificationUtilisateur</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>SuppressionUtilisateur</servlet-name> 
		<servlet-class>servlets.utilisateur.ServletSuppressionUtilisateur</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>Login</servlet-name> 
		<servlet-class>servlets.authentification.ServletLogin</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>Logout</servlet-name> 
		<servlet-class>servlets.authentification.ServletLogout</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>SupprimerAmi</servlet-name> 
		<servlet-class>servlets.amis.ServletSupprimerAmi</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AjouterAmi</servlet-name> 
		<servlet-class>servlets.amis.ServletAjouterAmi</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ListerAmis</servlet-name> 
		<servlet-class>servlets.amis.ServletListerAmis</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AjouterCommentaire</servlet-name> 
		<servlet-class>servlets.commentaire.ServletAjouterCommentaire</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>SupprimerCommentaire</servlet-name> 
		<servlet-class>servlets.commentaire.ServletSupprimerCommentaire</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ListerCommentaires</servlet-name> 
		<servlet-class>servlets.commentaire.ServletListerCommentaires</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AjouterMessage</servlet-name> 
		<servlet-class>servlets.message.ServletAjouterMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>SupprimerMessage</servlet-name> 
		<servlet-class>servlets.message.ServletSupprimerMessage</servlet-class> 
	</servlet>

	<servlet> 
		<servlet-name>ListerMessages</servlet-name> 
		<servlet-class>servlets.message.ServletListerMessages</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AjouterLike</servlet-name> 
		<servlet-class>servlets.like.ServletAjouterLike</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>SupprimerLike</servlet-name> 
		<servlet-class>servlets.like.ServletSupprimerLike</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ListerLikes</servlet-name> 
		<servlet-class>servlets.like.ServletListerLikes</servlet-class> 
	</servlet>	
	
	<servlet-mapping> 
		<servlet-name>CreationUtilisateur</servlet-name> 
		<url-pattern>/services/utilisateur/creationUtilisateur</url-pattern>
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>ModificationUtilisateur</servlet-name> 
		<url-pattern>/services/utilisateur/modificationUtilisateur</url-pattern>
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>SuppressionUtilisateur</servlet-name> 
		<url-pattern>/services/utilisateur/suppressionUtilisateur</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>Login</servlet-name> 
		<url-pattern>/services/authentification/login</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>Logout</servlet-name> 
		<url-pattern>/services/authentification/logout</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>SupprimerAmi</servlet-name> 
		<url-pattern>/services/ami/supprimerAmis</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>AjouterAmi</servlet-name> 
		<url-pattern>/services/ami/ajouterAmi</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>ListerAmis</servlet-name> 
		<url-pattern>/services/ami/listerAmis</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterCommentaire</servlet-name> 
		<url-pattern>/services/commentaire/ajouterCommentaire</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerCommentaire</servlet-name> 
		<url-pattern>/services/commentaire/supprimerCommentaire</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListerCommentaires</servlet-name> 
		<url-pattern>/services/commentaire/listerCommentaires</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjouterMessage</servlet-name> 
		<url-pattern>/services/message/ajouterMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerMessage</servlet-name> 
		<url-pattern>/services/message/supprimerMessage</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ListerMessages</servlet-name> 
		<url-pattern>/services/message/listerMessages</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>AjouterLike</servlet-name> 
		<url-pattern>/services/like/ajouterLike</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SupprimerLike</servlet-name> 
		<url-pattern>/services/like/supprimerLike</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListerLikes</servlet-name> 
		<url-pattern>/services/like/listerLikes</url-pattern> 
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
